.html-renderer img {
    max-width: 100%; 
    height: auto; 
    max-height: 200px; 
    object-fit: contain; 
  }

.highlight-pill{
  display: inline-flex;
  align-items: center;
  background-color: #f1f3f4;
  border: 1px solid #dce0e4;
  border-radius: 6px;
  padding: 0px 12px;
  font-size: 10px;
  color: #3c4043;
  text-decoration: none;
  transition: background-color 0.2s;
}
.highlight-pill:hover {
  background-color: orange;
}

.highlight-pill .file-icon{
  margin-right:8px;
  font-size: 10px;
}