.label-tickets {  
    padding: 0px 8px;   
    font-size: 10px;            
    border-radius: 5px;      
    color: white;               
  }


.profile {
  @apply border border-brand-yellow;
  padding: 6px;
  border-radius: 50%;
}