.header {
  background-color: #f8f9fa;
  border-bottom: 2px solid #fde7b0a8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  height: 60px;
  padding: 8px;
}

.avatar-circle {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #ffb300;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.dropdown-menu-custom {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 999;
  min-width: 150px;
  display: block;
  background-color: white;
}

.logout-btn {
  width: 100%;
  background-color: red;
  color: white;
  padding: 5px;
}
.running-banner {
  overflow: hidden;

  background: linear-gradient(to right, #f9f9f9, #ececec);
  border-bottom: 1px solid #ddd;
  padding: 6px 0;
  position: relative;
  font-weight: 500;
}

.running-banner-content {
  display: inline-block;
  white-space: nowrap;
  animation: scroll-left 25s linear infinite;  /* Slower = smoother */
  -webkit-transform: translateZ(0);  /* GPU acceleration */
  transform: translateZ(0);
  will-change: transform;  /* Optimize for animation */
}

.running-banner-item {
  display: inline-flex;
  align-items: center;
  margin-right: 50px;
  font-size: 14px;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}